* {
  box-sizing: border-box;
}

.index{
overflow-y: hidden;
}

#nprogress .bar {
  height: 3.5px !important;
}

.ql-editor {
  min-height: 250px;
}
.featured-image {
  max-width: 750px;
  max-height: 660px;
  object-fit: fill;
  margin: auto;
  border-radius: 15px;
}

a {
  cursor: pointer;
}

#searchedBlogs {
  margin-top: -120px;
  margin-bottom: -88px;
}

.card-container {
  display: grid;
  perspective: 700px;
  margin-top: 17px;
}
.card-flip,
.card-container {
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}
.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.back {
  transform: rotateY(-180deg);
  background-color: black;
}
.card-container:hover .card-flip {
  transform: rotateY(180deg);
}
.card-flip {
  display: grid;
  grid-template: 14fr / 14fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}
.front {
  background-size: cover;
  /* background-repeat: no-repeat; */
  grid-area: frontAndBack;
  /* width: 35; */
  height: 230px;
}
.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}
